<img id='logo' src='./../assets/jimmyjohns_logo.png' (click)="changeViewClicked('splash-page')">
<img id='order-logo' src='./../assets/orderOnlineFlag.png'>
<button class='btn btn-danger'>Login</button>
<p id='header-or'>or</p>
<label for='street-address'>Start an Order</label>
<input name='street-address' value='Enter Street Address'>
<label>Choose An Option</label>
<button>Delivery</button>
<button>Pick Up</button>

<div id='header-navigation'>
  <p class='navigation-option'>Menu</p>
  <p class='navigation-option'>Find a JJ's</p>
  <p class='navigation-option'>About Us</p>
  <p class='navigation-option'>Gift Cards</p>
  <p class='navigation-option'>JJ Store</p>
  <p class='navigation-option'>Franchising</p>
</div>
