<img id='logo' src='./../assets/jimmyjohns_logo.png' (click)="changeViewClicked('splash-page')">
<img id='order-logo' src='./../assets/orderOnlineFlag.png'>
<button class='btn btn-danger'>Login</button>
<p id='header-or'>or</p>
<label for='street-address'>Start an Order</label>
<input name='street-address' value='Enter Street Address'>
<label>Choose An Option</label>
<button>Delivery</button>
<button>Pick Up</button>

<div id='header-navigation'>
  <p class='navigation-option' (click)="changeViewClicked('menu-page')">Menu</p>
  <p class='navigation-option'>Find a JJ's</p>
  <p class='navigation-option'>About Us</p>
  <p class='navigation-option'>Gift Cards</p>
  <p class='navigation-option'>JJ Store</p>
  <p class='navigation-option'>Franchising</p>
</div>

<div class="container">
  <app-header-navigation (clickSender)="viewSelect($event)"></app-header-navigation>
  <app-splash-page [childPageSelection]='masterPageSelection'></app-splash-page>
  <app-menu-list [childSandwichList]='masterSandwichList' [childPageSelection]='masterPageSelection' [childMenuSelection]='masterMenuSelection' [childSandwichSelection]='masterSandwichSelection' (menuClickSender)='menuSelect($event)' (sandwichClickSender)='sandwichSelect($event)'></app-menu-list>
</div>

<div id='footer'>
  <div id='footer-navigation'>
    <p class='footer-navigation-option'>Feedback</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>FAQ's</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>Jobs</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>Privacy Policy</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>Terms & Conditions</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>Owners Site</p>
    <p class='footer-dot'>•</p>
    <p class='footer-navigation-option'>Accessibility</p>
  </div>
  <div class='row'>
    <img id='first-footer-image' src='./../assets/app-store.png'>
    <img id='footer-image' src='./../assets/google-play.png'>
  </div>
  <br>
  <br>
  <p id='JJlicensing'>©2018 Jimmy John's Franchisor SPV, LLC All Rights Reserved</p>
</div>
