<div *ngIf="childPageSelection === 'menu-page'">


  <div class="menu-wrap">
    <button class="top-button" (click)="clickMenu('default')">JJ's Menu</button>
    <button class="top-button">Catering</button><br>
    <button class="accordion" (click)="clickMenu('favorites')">Favorites</button>
    <div class="panel">
      <p>Placeholder for when Routing add function to accordian</p>
    </div><br>
    <button class="accordion" (click)="clickMenu('classics')">Classics</button>
    <div class="panel">
      <p>Placeholder for when Routing add function to accordian</p>
    </div><br>
    <button class="accordion" (click)="clickMenu('gargantuan')">The J.J. Gargantuan®</button>
    <div class="panel">
      <p>Placeholder for when Routing add function to accordian</p>
    </div><br>
    <button class="accordion" (click)="clickMenu('slims')">Slims</button>
    <div class="panel">
      <p>Placeholder for when Routing add function to accordian</p>
    </div>
  </div>
  <div id="menu-details">
    <div *ngIf="childMenuSelection === 'default'">
      <h3>Jimmy John's Menu</h3>
      <p>Browse the menu at left and add items to your meal.</p>
        <img src='./../assets/freak_yeah_menu.jpg'>
    </div>
  </div>
</div>
